<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="http://lib.fardus.com/bootstrap3/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://lib.fardus.com/crud/crud.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://lib.fardus.com/bootstrap3/js/bootstrap.min.js"></script>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">{% trans %}Admin{% endtrans %}</a>
                </div>

                <div role="navigation" class="collapse navbar-collapse">
                    <ul  class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/fardus/crud-bundle/blob/master/README.md">Readme file</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block contextualMenu %}{% endblock contextualMenu %}
            <div class="page-header"><h1>{{ title|raw }}</h1></div>
            {% if block('errors') is not empty %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div class="alert alert-danger">{% block errors %}{% endblock errors %}</div>
            {% endif %}
            {% if block('info') is not empty %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% block info %}{% endblock info %}
            </div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage|raw }}
            </div><!-- div.alert -->
            {% endfor %}
            {% block body %}{% endblock body%}
        </div>

        <div id="footer" class="container">
            <p class="small text-right text-muted">The <a href="https://github.com/fardus/crud-bundle/blob/master/README.md">Crud Bundle</a> is a <a href="http://fardus.com">Dévelopathe</a>'s project.</li></p>
        </div>

    </div>
    {% block javascripts %}{% endblock javascripts %}
</body>
</html>